nav{
   background-color: darkolivegreen;
   color: white;
}
.lista{
   display: inline-block;
}
.lk{
   color: white;
}
#formulario{
   text-align: center;
}
#atalho{
   text-align: center;
}
footer{
   background-color: cornflowerblue;
   width: 100%;
   margin: .3%;
   padding: .3%;
   text-align: center;
   color: white;
}
.botao{
   margin-left: .5%;
   background-color: white;
}
#enviar{
   width: 150px;
   height: 30px;
   color: white;
   background-color: blue;
}